
.home1{
    height: 90vh;
    background-color: rgba(189, 183, 107, 0.685);
}

h1{
    font-weight: bolder;
    color: rgb(214, 17, 17);   
}

.line-1{
    position: relative;
    top: 50%;  
    width: 10em;
    margin: 0 auto;
    border-right: 3px solid rgba(134, 10, 10, 0.37);
    font-size: 300%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(20) 1s 1 normal both,
             blinkTextCursor 500ms steps(20) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 10em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}