<div class="container my-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <h1 class="text text-center text-primary fw-bolder p-5">Contacts</h1>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <button class="btn btn-warning mx-5 d-flex justify-content-center align-items-center mb-2" (click)="logOut()"><mat-icon>logout</mat-icon>Logout</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>E-mail</th>
                        <th>Contacts</th>
                        <th>Message</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let el of contacts">
                        <td>{{el.name}}</td>
                        <td>{{el.email}}</td>
                        <td>{{el.contact}}</td>
                        <td>{{el.message}}</td>
                        <td>{{el.date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>